In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from markov_model import model
from markov_model import initialize
from markov_model import split_data
from markov_model import mean_absolute_error

In [2]:
df = pd.read_csv('stock_market_data/nasdaq/csv/AAL.csv')

In [3]:
dates = df['Date']
prices = df['Close']

In [4]:
dates.isna().sum()

0

In [5]:
prices.isna().sum()

0

In [6]:
# Compute daily returns
returns = df['Close'].pct_change()

In [7]:
returns.isna().sum()

1

In [8]:
#convert prices and dates to a new dataframe
input_df = pd.DataFrame({'Date': dates, 'Price': prices, 'Return': returns})

In [9]:
input_df =  input_df.dropna()

In [10]:
#Test size is how many days we want to predict
train_df, test_df = split_data(input_df, test_size=3)

Below, we are checking if training set and test set are chronologically aligned.

In [11]:
train_df.tail(5)

            Date  Price    Return
4325  01-12-2022  13.98 -0.031185
4326  02-12-2022  13.97 -0.000715
4327  05-12-2022  14.11  0.010021
4328  06-12-2022  14.33  0.015592
4329  07-12-2022  13.55 -0.054431

In [12]:
test_df.head(5)

            Date   Price    Return
4330  08-12-2022  13.600  0.003690
4331  09-12-2022  13.530 -0.005147
4332  12-12-2022  13.915  0.028455

In [13]:
# Define state space
states = ['Up', 'Down', 'Neutral']
transition_matrix, initial_probabilities = initialize(train_df, states)

# Define number of days to predict
n_days = len(test_df)

In [14]:
predictions = model(train_df, states, transition_matrix, initial_probabilities, n_days)

In [15]:
predictions = np.array(predictions)

In [16]:
ground_truth = test_df['Price'].values

In [17]:
mae = mean_absolute_error(predictions, ground_truth)
print(mae)

8.960868173952342

In [18]:
ground_truth

array([13.60000038, 13.52999973, 13.91499996])

In [19]:
predictions

array([13.55000019,  4.59748184, -3.98508648])